<p>
  <form method="get" action="/quizzes/<%= quiz.id %>/check">        
    <p>
      Pregunta: <%= quiz.question %>
    </p>

    <p>
      <input type="text" name="answer" value="<%= answer %>" placeholder="Respuesta" />
      <input type="submit" value="Comprobar">
    </p>
  </form>
<<<<<<< HEAD
  
=======
  <form method="get" action="/quizzes/<%= texto_a_buscar %>/search">        
    <p>
      Buscador:
    </p>

    <p>
      <input type="text" name="texto_a_buscar" value="<%= texto_a_buscar %>" placeholder="Busqueda" />
      <input type="submit" value="Buscar">
    </p>
  </form>
</p>
>>>>>>> 9d2be7b95766c85c2cd3b9de8140b8058c210208
